node_modules/
coverage/
.nyc_output/
*.log
test/data/*.log
.idea
docs/
.vscode/
test/
.eslintrc
tsconfig.json
.editorconfig
.nycrc
.github/
.vscode/
test/
test-data/
test-OLD/
tsconfig-test.json
.DS_Store
